/* IMPORT FONT */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');


/* GENERAL PARAMETERS */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* border: 1px solid red; */
}

body {
    background: rgb(0, 109, 109);
    background: linear-gradient(160deg, rgba(0, 109, 109, 1) 0%, rgba(3, 82, 89, 1) 6%, rgba(7, 51, 67, 0.8939950980392157) 12%, rgba(8, 41, 60, 0.9724264705882353) 56%, rgba(9, 33, 54, 1) 79%, rgba(10, 25, 48, 1) 100%);
    font-family: "Lato", sans-serif;
    font-weight: 500;
}

img {
    max-width: 100%;
}

.text-center {
    text-align: center;
}

/* NAVBAR */

nav {
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    background: rgb(0, 109, 109);
    background: linear-gradient(153deg, rgba(0, 109, 109, 1) 0%, rgba(10, 25, 48, 1) 53%);
    padding: 5px 20px;
    letter-spacing: 1px;
    box-shadow: 0px 0px 71px 23px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 71px 23px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 71px 23px rgba(0, 0, 0, 0.3);
}

ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}


.menu li {
    padding: 15px 5px;
}

.menu li a {
    display: block;
}

.nav-logo {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

/* change scale to change logo size, height will change the contenair space and make the nav bigger */
.nav-logo a img {
    margin-left: 8px;
    margin-top: 10px;
    height: 32px;
    scale: 2;
}

.button a {
    text-decoration: none;
    padding: 7px 15px;
    background: teal;
    border: 1px solid #006d6d;
    border-radius: 50em;
}

.button.secondary a {
    background: transparent;
}

.button a:hover {
    transition: all .25s;
}

.button:not(.secondary) a:hover {
    background: #006d6d;
    border-color: #005958;
}

.button.secondary a:hover {
    color: #ddd;
}

.underline-effect {
    position: relative;
}

.underline-effect a {
    color: #ccc9c9;
}

.underline-effect a:hover {
    color: #ffffff;
    transition: all .25s;
    font-size: 22px;
}

.underline-effect::after {
    content: "";
    position: absolute;
    background-color: #006d6d;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: 1px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s;
}

.underline-effect:hover::after {
    transform: scaleX(1);
}

.slide-in {
    animation: slide-in 1s ease-in forwards;
}

.slide-out {
    animation: slide-out 1s ease-in forwards;
}

@keyframes slide-in {
    from {
        max-height: 0;
        opacity: 0;
    }

    to {
        max-height: 100%;
        opacity: 1;
    }
}

@keyframes slide-out {
    from {
        max-height: 100%;
        opacity: 1;
    }

    to {
        max-height: 0;
        opacity: 0;
    }
}

/* Mobile Nav */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    order: 1;
}

.nav-item.button {
    order: 2;
}

.nav-item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.nav-item.active {
    display: block;
}

.toggle {
    cursor: pointer;
    margin-bottom: 10px;
}

.bars {
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 25px;
}

.bars::before,
.bars::after {
    background: #999;
    display: inline-block;
    content: "";
    height: 2px;
    position: absolute;
    width: 25px;
}

.bars::before {
    top: 8px;
}

.bars::after {
    top: -8px;
}

/* Large Mobile Nav */

@media all and (max-width: 467px) {
    .menu li a {
        margin: auto;
        width: 9em;
    }
}

@media all and (min-width: 468px) {
    .menu {
        justify-content: center;
    }

    .nav-logo {
        flex: 1;
    }

    .nav-item.button {
        width: auto;
        order: 1;
        display: block;
    }

    .toggle {
        order: 2;
    }

    .button.secondary {
        border: 0;
    }
}

/* TABLET & DESKTOP NAV */
@media all and (min-width: 768px) {
    .nav-item {
        display: block;
        width: auto;
    }

    .toggle {
        display: none;
    }

    .nav-logo {
        order: 0;
    }

    .nav-item {
        order: 1;
    }

    .button {
        order: 2;
    }

    .menu li {
        padding: 15px 10px;
    }

    .menu li.button {
        padding-right: 0;
    }
}

/* HERO-BANNER RESPONSIVE */

/* VIDEO */


.video-background {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
    object-fit: cover;
}

.content {
    position: relative;
    z-index: 1;
}

.main {
    display: inline-block;
    width: 100%;
    height: 520px;
}

.hero-banner-container {
    margin-top: 85px;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
}

.hero-banner-title {
    color: rgb(255, 255, 255);
    font-size: 2.6em;
    margin-bottom: 20px;
    font-weight: 900;
    letter-spacing: 2px;
}

.hero-banner-sub-title {
    color: rgba(230, 225, 225, 0.884);
    font-size: 1.3em;
    font-weight: 900;
    letter-spacing: 1px;
}

/* ABOUT ME */

.about-me-container-grid {
    width: 90%;
    height: 845px;
    background: rgba(128, 128, 128, 0.233);
    border-radius: 250px;
    margin: 30px auto;
    border: 15px solid #0d2934;
}


.about-me-container-p {
    grid-area: p;
}

.about-me-title {
    color: rgb(255, 255, 255);
    width: auto;
    font-size: clamp(2.5rem, 1.5rem + 2vw, 12rem);
    margin: 1em;
    grid-area: title;
}

.container-box {
    width: 15em;
    white-space: nowrap;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: photo-div;
}

.photo-profil-container {
    width: 38vmin;
    height: 38vmin;
    margin: 25px 0;
}

.container-photo-grid {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        'photo';
}

.photo-profil-bg {
    grid-area: photo;
    background: url(/assets/img/splash.png) center/contain no-repeat;
    animation: rotate 30s linear infinite;
    scale: 1.35;
}

.photo-profil {
    background: url(/assets/img/photo-profil.png) center/contain no-repeat;
    filter: brightness(78%);
    grid-area: photo;
    border-radius: 42%;
}

.about-me-info {
    color: white;
    font-size: 1.1em;
    padding: 8px 5px;
    letter-spacing: 1px;
    line-height: 28px;
}

.about-me-info-important {
    font-size: 1.35em;
    color: #0b9997;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* TABLET/DESKTOP CONTAINER GRID */
@media all and (min-width: 768px) {
    .about-me-container-grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(10, 1fr);
        gap: 0px 0px;
        grid-template-areas:
            ". . title title title . ."
            ". . . photo-div photo-div photo-div photo-div"
            "p p p photo-div photo-div photo-div photo-div"
            "p p p photo-div photo-div photo-div photo-div"
            "p p p photo-div photo-div photo-div photo-div"
            "p p p photo-div photo-div photo-div photo-div"
            "p p p photo-div photo-div photo-div photo-div"
            "p p p photo-div photo-div photo-div photo-div"
            "p p p . . . ."
            ". . . . . . .";
    }

    .about-me-container-p {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 15%;
    }
}

/* PROJETS */

.projets-container {
    height: auto;
    margin: 20px;
    padding: 50px 0;
    background: rgba(128, 128, 128, 0.233);
    border-radius: 200px;
    border: 15px solid #0d2934;
}

.projets-card {
    margin: auto;
    height: 375px;
    width: 215px;
    perspective: 1000px;
    margin-bottom: 20px;
}

.projets-card:hover {
    z-index: 10;
}


.projets-content-card {
    border: 4px solid teal;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        "image"
        "image"
        "image"
        "titre"
        "sub"
        "button";
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: auto;
    border-radius: 25px;
    transition: all 0.15s ease-out;
    background: black;
}

.projets-card img {
    grid-area: image;
}

.projets-title {
    grid-area: titre;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    margin: 10px 0;
}

.projets-sub-title {
    grid-area: sub;
    color: teal;
    font-size: 1em;
    font-weight: 900;
    letter-spacing: 1px;
    text-align: center;
}

.projets-button {
    height: 20px;
    width: 80px;
    margin: auto;
}

.glow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 0.15s ease-out;
    border-radius: 25px;
    mix-blend-mode: hard-light;
    opacity: 0.5;
    background: radial-gradient(circle at 50% 0%, rgb(209, 205, 205), transparent);
}

.projets-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#minus-one,
#plus-one {
    text-decoration: none;
    padding: 7px 15px;
    background: rgba(0, 128, 128, 0.692);
    border: 1px solid white;
    border-radius: 50em;
    font-size: 1.15em;
    margin: 10px;
}

#minus-one {
    background: rgb(219, 172, 17) !important;
}

.projets-container:nth-child(1) {
    grid-area: p1;
}

.projets-container:nth-child(2) {
    grid-area: p2;
}

.projets-container:nth-child(3) {
    grid-area: p3;
}

.projets-container:nth-child(4) {
    grid-area: p4;
}

/* TABLET PROJETS GRID */

@media all and (min-width: 768px) {
    .projets-container-secondary {
        height: 100%;
        width: 100%;
        margin: auto;
        padding: 3em;
        display: grid;
        grid-gap: 3em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "p1 p2"
            "p3 p4";
    }

    #minus-one,
    #plus-one {
        display: none;
    }

}

.projets-card::after {
    content: "GITHUB";
    background-color: #11918e;
    border-color: black;
    padding: 10px;
    position: absolute;
    top: -15px;
    left: 0%;
    transform: translateX(-50%);
    border: 3px solid rgb(0, 114, 129);
    border-radius: 100px;
}
.projets-card:hover::after {
    cursor: pointer;
}

/* version tablette */
/* .projets-card::after {
    content: "GITHUB";
    background-color: #11918e;
    border-color: black;
    padding: 10px;
    position: absolute;
    top: 0;
    left: -95px;
    top: 50%;
    transform: translateY(-50%);
}

.projets-card:hover::after {
    cursor: pointer;
} */